/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end CSS reset */



* {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-user-select: none;
}

.page {
	display: none;
}

body {
	background-color: #666;
}

body.portrait #container {
	display: none;
}

#container {
	position: absolute;
	width: 1024px;
	height: 768px;
	top: 50%;
	left: 50%;
	margin: -384px 0 0 -512px;
	background-color: #111111;
}

#splash {
}

h1 {  /* The Prince */
	position: absolute;
	top: 96px;
	right: 164px;
	font-family: 'Goudy Bookletter 1911', serif;
	font-size: 160px;
	color: #fff;
	text-align: right;
}

h2 {  /* & */
	position: absolute;
	top: 224px;
	right: 64px;
	font-family: 'Goudy Bookletter 1911', serif;
	font-size: 256px;
	color: #fff;
	text-align: right;
}

h3 {  /* [  ] */ /* The Prince & */
	font-family: 'Goudy Bookletter 1911', serif;
	font-size: 80px;
	color: #fff;
}

#splash h3 {  /* [  ] */
	position: absolute;
	top: 528px;
	right: 160px;
	text-align: right;
}

#menu h3 {  /* The Prince & */
	position: absolute;
	top: 128px;
	left: 96px;
	text-align: left;
}

h4 {  /* choose three */
	position: relative;
	top: 34px;
	font-family: 'Goudy Bookletter 1911', serif;
	font-size: 64px;
	color: #000;
	text-align: center;
}

h5 {  /* the "object" */
	font-family: 'Goudy Bookletter 1911', serif;
	font-size: 60px;
	color: #fff;
	text-align: left;
}

/* 128, 142, 112 */

h5.menu1 {
	position: absolute;
	top: 202px;
	left: 128px;
}

h5.menu2 {
	position: absolute;
	top: 266px;
	left: 143px;
}

h5.menu3 {
	position: absolute;
	top: 329px;
	left: 112px;
}

h6 {  /* credits */
	font-family: 'Goudy Bookletter 1911', serif;
	font-size: 24px;
	line-height: 32px;
	margin-bottom: 32px;
	color: #fff;
	text-align: center;
}

p {
	font-family: 'Goudy Bookletter 1911', serif;
	font-size: 24px;
	line-height: 32px;
	color: #fff;
	text-align: left;
}

#character {
	position: absolute;
	bottom: 0;
	left: 0;
}

#popup {
	position: absolute;
	top: 64px;
	left: 64px;
	width: 896px;
	height: 640px;
	background-color: #fff;
	-moz-box-shadow: 0 0 10px 5px rgba(0,0,0,0.20);
	-webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.20);
	box-shadow: 0 0 10px 5px rgba(0,0,0,0.20);
}

#options {
	position: absolute;
	top: 128px;
	left: 144px;
	width: 640px;
	height: 480px;
}

.tile {
	position: relative;
	float: left;
	width: 128px;
	height: 128px;
	margin: 0 16px 32px 16px;
}

.default {
	position: absolute;
}

.selected {
	position: absolute;
	display: none;
}

.hidden {
	display: none;
}

/*  #hack {
	position: absolute;
	bottom: 28px;
	left: 50%;
	font-family: 'Goudy Bookletter 1911', serif;
	font-size: 24px;
	line-height: 32px;
	color: #000;
	text-align: center;
}  */

#toc {
	position: absolute;
	top: 65px;
	right: 64px;
	width: 320px;
	height: 638px;
}

.selectPage {
	position: relative;
	height: 48px;
	padding: 5px 0 5px 0;
	font-family: 'Goudy Bookletter 1911', serif;
	font-size: 24px;
	line-height: 48px;
	color: #fff;
}

.selectPage img {
	display: block;
	float: left;
	margin-right: 32px;
}

#menu .navigation {
	position: absolute;
	bottom: 64px;
	left: 64px;
	width: 512px;
	height: 24px;	
	font-family: 'Goudy Bookletter 1911', serif;
	font-size: 48px;
	line-height: 14px;
	color: #fff;
	text-align: center;
	font-weight: 400;
}

#menu .navigation .nav-prev {
	position: relative;
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 0 12px 0 12px;
	/*background-image: url("../images/thumbs/navigation-previous.png");*/
}

#menu .navigation .nav-next {
	position: relative;
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 0 12px 0 12px;
	/*background-image: url("../images/thumbs/navigation-next.png");*/
}

.paragraph {
	position: relative;
	float: left;
	width: 272px;
	height: 540px;
	margin: 64px 0 0 64px;
}

.illustration {
	position: relative;
	float: right;
	width: 540px;
	height: 540px;
	margin: 64px 64px 0 0;
}

.flex-control-thumbs {
	/* background-color: gray; */
	position: absolute;
	bottom: 64px;
	left: 247px;
	width: 528px;
	height: 24px;
}

.flex-control-thumbs > li {
	float: left;
	margin: 0 12px 0 12px;
}

.flex-prev {
	position: absolute;
	bottom: 64px;
	left: 64px;
	width: 24px;
	height: 24px;
	text-indent: -9000px;
	background-image: url("../images/thumbs/navigation-previous.png");
}

.flex-next {
	position: absolute;
	bottom: 64px;
	right: 64px;
	width: 24px;
	height: 24px;
	text-indent: -9000px;
	background-image: url("../images/thumbs/navigation-next.png");
}

.creditsLeft {  /* created by */
	position: relative;
	float: left;
	width: 320px;
	height: 384px;
	margin: 160px 20px 0px 172px;
}

.creditsRight {	 /* adapted from */
	position: relative;
	float: right;
	width: 320px;
	height: 384px;
	margin: 160px 172px 0px 20px;
}

.creditsBottom {  /* start again */
	position: absolute;
	top: 512px;
	width: 320px;
	height: 32px;
	margin: 0px 20px 0px 172px;
}

.book {
	text-decoration: underline;
}

a { text-decoration: none; }
a:link { color:#fff; }      
a:visited { color: #fff;}  
a:hover { color: #bbb; }  
a:active { color: #bbb; } 